#right-sidebar
  .opciones-perfil
    %h3 MIS PERFILES
    -if user_signed_in?
      -if current_user.profesional.present?
        %p
          = image_tag current_user.profesional.avatar.url(:medium), class: 'mini-profile-pic', :size => '20x20'
          =link_to "#{current_user.nombre}", profesional_path(current_user.profesional)
      -else
        %p
          =link_to "Profesional", new_profesional_path, class: "btn btn-purple btn-profesional"
      -if current_user.empresas.present?
        -current_user.empresas.each  do |empresa|
          %p
            = image_tag empresa.avatar.url(:medium), class: 'mini-profile-pic', :size => '20x20'
            =link_to "#{empresa.nombre}", empresa_path(empresa)
      -else
        %p
          =link_to "Empresa", new_empresa_path, class: "btn btn-blue btn-empresa"
    -else
      .module-image
        =image_tag "empresas.png"
      .module-question
        %p
          ¿Por qué tener un perfil de profesional en Comunidad Nest?
      .module-description
        %p Porque estamos camino a convertirnos en la comunidad las grande de diseño y arquitectura de América Latina y queremos que formes parte de ella.
        %p Para que todos puedan encontrar la información de tu perfil profesional en un solo lugar.
        .description-bold
          %p Porque es 100% gratuito!
        .module-btn
          %p
            =link_to "Crear Perfil", new_empresa_path, class: "btn btn-primary"


  .module
    %h3 Estamos en
    #socialicons
      %span.facebook
        %a{:href => "https://www.facebook.com/comunidadnest", :rel => "nofollow", :target => "_blank", :title => "Facebook", :class => 'facebook'}
          %i.fa.fa-facebook
      %span.twitter
        %a{:href => "https://twitter.com/Comunidad_nest", :rel => "nofollow", :target => "_blank", :title => "Twitter", :class => 'twitter'}
          %i.fa.fa-twitter
      %span.instagram
        %a{:href => "https://instagram.com/comunidadnest/", :rel => "nofollow", :target => "_blank", :title => "Instagram", :class => 'instagram'}
          %i.fa.fa-instagram
      %span.pinterest
        %a{:href => "https://www.pinterest.com/nest0398/", :rel => "nofollow", :target => "_blank", :title => "Pinterest", :class => 'pinterest'}
          %i.fa.fa-pinterest

  .module
    %h3 Espacio de coworking
    .banneritem
      %a{:href => "/component/banners/click/3", :target => "_blank", :title => "Espacio de Coworking"}
        = image_tag "Impacticologo.png", :alt => "Espacio de Coworking"