= form_for @empresa, html: { multipart: true, class: 'form form-profile form-horizontal' } do |f|
  - if @empresa.errors.any?
    #error_explanation
      %h1= "#{pluralize(@empresa.errors.count, "error")} prohibited this empresa from being saved:"
      %ul
        - @empresa.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.clearfix
    .gey-title
      ¡Ingrese la información de su empresa!

  %fieldset.clearfix
    .blue-title
      Información General:
    .form-group
      = f.label :nombre, 'Nombre de mi empresa:', class: 'col-xs-2'
      .col-xs-8
        = f.text_field :nombre, class: "form-control"
    .form-group
      = f.label :industria, class: 'col-xs-2'
      .col-xs-4
        = f.collection_select :industria_id, Industria.all, :id, :nombre, {prompt: "Seleccione el sector de la industria a la que pertenece su empresa."}, {class: "form-control"}
    .form-group
      = f.label :avatar, 'Imagen de logotipo', class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Formatos permitidos: Archivos JPG/JPEG o PNG.Máximo tamaño permitido: 1MB. Dimensiones ideales: 180px x 180px. Resolución ideal: 72ppi. Confirmo que los derechos de esta imagen me pertenecen.'}
      - if @empresa.page_img.exists?
        .col-xs-2
          =image_tag @empresa.avatar.url(:thumb)
      .col-xs-6
        = f.file_field :avatar
    .form-group
      = f.label :page_img, 'Imagen de portada', class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Formatos permitidos: Archivos JPG/JPEG o PNG.Máximo tamaño permitido: 1MB. Dimensiones ideales: 180px x 180px. Resolución ideal: 72ppi. Confirmo que los derechos de esta imagen me pertenecen.'}
      - if @empresa.page_img.exists?
        .col-xs-2
          =image_tag @empresa.page_img.url, class: 'img-responsive'
      .col-xs-8
        = f.file_field :page_img
    .form-group
      = f.label :especialidades, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Escriba en que se especializa su empresa. Ejemplo: Arquitectura Residencial, Diseño Interno, Diseño de Mobiliario, etc.'}
      .col-xs-8
        = f.text_area :especialidades, class: "form-control"
    .form-group
      = f.label :pais, 'País',class: 'col-xs-2'
      .col-xs-2
        = country_select("empresa", "pais", {priority_countries: ["CR"]}, {class: "form-control"})
    .form-group
      = f.label :ubicacion, 'Dirección' ,class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Indique la dirección de su empresa.'}
      .col-xs-8
        = f.text_area :direccion, class: "form-control"
    .form-group
      = f.label :telefono, 'Teléfono' ,class: 'col-xs-2'
      .col-xs-2
        = f.text_field :telefono, class: "form-control"
    .form-group
      = f.label :email, class: 'col-xs-2'
      .col-xs-2
        = f.text_field :email, class: "form-control"
    .form-group
      = f.label :website, 'Sitio Web:', class: 'col-xs-2'
      .col-xs-2
        = f.text_field :website, class: "form-control"
    .form-group
      = f.label :horario, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Indique el horario de su empresa. Ejemplo: De 9:00 am a 6:00pm'}
      .col-xs-2
        = f.text_area :horario, class: "form-control"
    .form-group
      = f.label :empleados, "Número de empleados",  class: 'col-xs-2'
      .col-xs-2
        = f.number_field :empleados, class: "form-control"
    .form-group
      = f.label :fundacion, " Año de Fundación",class: 'col-xs-2'
      .col-xs-2
        = f.number_field :fundacion, class: "form-control"
    .form-group
      = f.label :tag_list, 'Tags', class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Escriba palabras con las que se relacionan tu empresa. Máximo 5 tags.'}
      .col-xs-2
        = f.text_field :tag_list, :value => @empresa.tag_list.join(', '), class: "form-control"
  %fieldset.clearfix
    .blue-title
      Sobre mi empresa:
    .form-group
      = f.label :descripcion, "Sobre nosotros", class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Esta es la oportunidad para destacarse y causar una buena primera impresión. Describí tu empresa en pocas palabras. Máximo 200 palabras.'}
      .col-xs-8
        = f.text_area :descripcion, class: 'form-control'
    .form-group
      = f.label :servicios, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => '¿Qué servicios ofrece tu empresa? ¿Para qué la pueden contratar? Máximo 200 palabras.'}
      .col-xs-8
        = f.text_area :servicios, class: "form-control"
  %fieldset.clearfix
    .blue-title
      Mis Redes Sociales
    .form-group
      = f.label :facebook, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Dirección URL completo de tu perfil de facebook. Ejemplo: http://facebook.com/comunidadnest'}
      .col-xs-8
        = f.text_field :facebook, class: 'form-control'
    .form-group
      = f.label :twitter, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Dirección URL completo de tu perfil de twitter. Ejemplo: http://twitter.com/comunidadnest'}
      .col-xs-8
        = f.text_field :twitter, class: 'form-control'
    .form-group
      = f.label :instagram, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Dirección URL completo de tu perfil de instagram. Ejemplo: http://instagram.com/comunidadnest'}
      .col-xs-8
        = f.text_field :instagram, class: 'form-control'
    .form-group
      = f.label :pinterest, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Dirección URL completo de tu perfil de pinterest. Ejemplo: http://pinterest.com/comunidadnest'}
      .col-xs-8
        = f.text_field :pinterest, class: 'form-control'
    .form-group
      = f.label :linkedin, class: 'col-xs-2', :data => {:toggle => 'tooltip', :title => 'Dirección URL completo de tu perfil de linkedin. Ejemplo: http://linkedin.com/comunidadnest'}
      .col-xs-8
        = f.text_field :linkedin, class: 'form-control'
  .actions
    = f.submit 'Guardar', {:class => 'btn btn-primary'}
    = link_to 'Cancelar', empresas_path, :class =>  "btn btn-cancel"
    
:javascript
  $(document).ready(function() {
    $('#profesional_idiomas').multiselect({
      nonSelectedText: 'Seleccioná uno o más idiomas'
    });
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })