.main-profile
  %h1.profile-title
    =@empresa.nombre
  %p.profile-subtitle
    =@empresa.industria.nombre
  .avatar.profile-pic
    = image_tag @empresa.avatar.url(:medium), class: 'img-responsive'
.social-bar
  %ul.list-inline
    -if @empresa.website.present?
      %li
        = link_to @empresa.website do
          %i.fa.fa-globe
    -if @empresa.facebook.present?
      %li
        = link_to @empresa.facebook do
          %i.fa.fa-facebook
    -if @empresa.twitter.present?
      %li
        = link_to @empresa.twitter do
          %i.fa.fa-twitter
    -if @empresa.instagram.present?
      %li
        = link_to @empresa.instagram do
          %i.fa.fa-instagram
    -if @empresa.linkedin.present?
      %li
        = link_to @empresa.linkedin do
          %i.fa.fa-linkedin
    -if @empresa.pinterest.present?
      %li
        = link_to @empresa.pinterest do
          %i.fa.fa-pinterest

%h3 Calificación
.caja.clearfix
  .info-rating
    = @avg_rating
    %i.fa.fa-star
  .info-rating-text
    = "#{@avg_rating} de 5 estrellas"
    %br
    %small= "#{@empresa.reviews.length} Opiniones"
  - if @empresa.reviewable_by?(current_user)
    = link_to "Mi opinión", new_empresa_review_path(@empresa), class: "btn btn-primary pull-right"
-#//- if @avg_rating > 4.5
    -#//Empresa recomendado y 5 ratings

%h3 ID EMPRESA
.pull-right
  =link_to 'Portafolio' , @empresa.portafolio.url
.caja
  %dl
    %dt Año de Fundación:
    %dd= format_nil_values(@empresa.fundacion)
    %br
    %dt Especialidades:
    %dd= format_nil_values(@empresa.especialidades)
    %br
    %dt Numero de empleados:
    %dd= format_nil_values(@empresa.empleados)
    %br
    %dt País:
    %dd= @empresa.country_name
    %br

%h3 Contacto
.caja
  %dl
    -if @empresa.website.present?
      %dt Sitio Web
      %dd= link_to "#{@empresa.nombre}", "http://#{@empresa.website}"
      %br
    %dt Número Telefónico
    %dd= format_nil_values(@empresa.telefono)
    %br
    %dt Email
    %dd= format_nil_values(@empresa.email)
    %br
    %dt Dirección
    %dd= format_nil_values(@empresa.direccion)
    %br
    %dt Horario
    %dd= format_nil_values(@empresa.horario)

- unless @empresa.tags.empty?
  %h3 Tags
  .caja
    =render @empresa.tags

- if @empresa.id == "zz"
  %h3 Equipo de trabajo:
  .row
    = render partial: 'empleados_empresas/empleado', collection: @empresa.empleados_empresas
  = form_tag empleados_empresas_new_path do
    = hidden_field_tag :empresa_id, @empresa.id
    = submit_tag 'Agregar Miembro' , {:class => 'btn btn-primary'}

%h3 Crear
.caja.text-center.botones
  = form_tag new_proyecto_path do
    = hidden_field_tag :propietario_id, @empresa.id
    = hidden_field_tag :propietario_tipo, 'empresa'
    = submit_tag 'Crear Proyecto' , {:class => 'btn btn-primary'}
  = form_tag new_producto_path do
    = hidden_field_tag :propietario_id, @empresa.id
    = hidden_field_tag :propietario_tipo, 'empresa'
    -#= submit_tag 'Crear Producto' , {:class => 'btn btn-primary'}
  = form_tag new_vacantes_trabajo_path do
    = hidden_field_tag :propietario_id, @empresa.id
    = hidden_field_tag :propietario_tipo, 'empresa'
    -#= submit_tag 'Crear Oferta de Empleo' , {:class => 'btn btn-primary'}
  = form_tag new_licitacion_path do
    = hidden_field_tag :propietario_id, @empresa.id
    -#= submit_tag 'Publicar licitación' , {:class => 'btn btn-primary'}

  %br
  -#=link_to 'Solicitar Oferta' , '#', {:class => 'btn btn-primary'}
- if user_signed_in? and current_user.id == @empresa.user_id
  %h3 Opciones de Administrador
  .caja-center
    = link_to 'Editar Perfil', edit_empresa_path(@empresa), { :class => 'btn btn-primary'}
    = link_to '<i class="icon-ok icon-white"></i>'.html_safe, empresa_path(@empresa), :class => 'btn btn-lg glyphicon glyphicon-trash', :method => :delete,  data: { confirm: "¿Está seguro de querer borrar su perfil? Toda la información se borrará y no la podrá recuperar" }

= link_to 'Ir a Comunidad de Empresas', empresas_path, class: 'btn btn-border text-center center-block'
