.main-profile
  %h1.profile-title
    =@profesional.nombre
  %p.profile-subtitle
    =@profesional.nombre_profesion
  .avatar.profile-pic
    = image_tag @profesional.avatar.url(:medium), class: 'img-responsive'
  - if @profesional.es_recomendado?
    .recomendado
      = image_tag '/assets/sello-recomendado.png'
.social-bar
  %ul.list-inline
    -if @profesional.facebook.present?
      %li
        = link_to @profesional.facebook, {:target => '_blank'} do
          %i.fa.fa-facebook
    -if @profesional.twitter.present?
      %li
        = link_to @profesional.twitter, {:target => '_blank'} do
          %i.fa.fa-twitter
    -if @profesional.instagram.present?
      %li
        = link_to @profesional.instagram, {:target => '_blank'} do
          %i.fa.fa-instagram
    -if @profesional.linkedin.present?
      %li
        = link_to @profesional.linkedin, {:target => '_blank'} do
          %i.fa.fa-linkedin
    -if @profesional.pinterest.present?
      %li
        = link_to @profesional.pinterest, {:target => '_blank'} do
          %i.fa.fa-pinterest
%h3 Calificación
.caja.clearfix
  .info-rating
    = @avg_rating
    %i.fa.fa-star
  .info-rating-text
    = "#{@avg_rating} de 5 estrellas"
    %br
    %small= "#{@profesional.reviews.length} Opiniones"
  - if @profesional.reviewable_by?(current_user)
    = link_to "Mi opinión", new_profesional_review_path(@profesional), class: "btn btn-primary pull-right"
-#//- if @avg_rating > 4.5
    -#//Profesional recomendado y 5 ratings
%h3 ID PROFESIONAL
.pull-right
  -if @profesional.portafolio.exists?
    =link_to 'P' , @profesional.portafolio.url, {:class => 'btn-circle btn-portafolio', :target => '_blank'}
  -if @profesional.curriculum.exists?
    =link_to 'CV' , @profesional.curriculum.url, {:class => 'btn-circle btn-cv', :target => '_blank'}
.caja
  %dl
    %dt Dirección:
    %dd= format_nil_values(@profesional.ciudad)
    %br
    %dt País:
    %dd= @profesional.country_name
    %br
    %dt Especialidades:
    %dd= format_nil_values(@profesional.especialidades)
    %br
    %dt Intereses:
    %dd= format_nil_values(@profesional.intereses)

%h3 Contacto
.caja.clearfix
  %dl
    %dt Teléfono:
    %dd= format_nil_values(@profesional.telefono)
    %br
    %dt E-mail:
    %dd= @profesional.email 

  = link_to new_conversation_path(:recipient_id => @profesional.user.id), class: 'btn btn-primary pull-right' do
    %i.fa.fa-envelope
    Enviar mensaje directo

%h3 Tags
.caja
  =render @profesional.tags

- unless @profesional.empleados_empresas.empty?
  //%h3 Empresas
  -#= render partial: 'empleados_empresas/empleador', collection: @profesional.empleados_empresas

- if @is_owner
  %h3 Crear
  .caja.text-center.botones
    = form_tag new_proyecto_path do
      = hidden_field_tag :propietario_id, @profesional.id
      = hidden_field_tag :propietario_tipo, 'profesional'
      = submit_tag 'Crear Proyecto' , {:class => 'btn btn-primary'}

- if @is_owner
  %h3 Opciones de Administrador
  .caja-center
    = link_to 'Editar', edit_profesional_path(@profesional), { :class => 'btn btn-primary'}
    = link_to '<i class="icon-ok icon-white"></i>'.html_safe, profesional_path(@profesional), :class => 'btn btn-lg glyphicon glyphicon-trash', :method => :delete,  data: { confirm: "¿Está seguro de querer borrar su perfil? Toda la información se borrará y no la podrá recuperar" }

= link_to 'Ir a Comunidad de Profesionales', profesionales_path, class: 'btn btn-border text-center center-block'
