<!DOCTYPE html>
<html>
<head>
  <title> <%= yield :title %><%= content_for?(:title) ? " | ":"" %>Nest</title>
  <%= yield :meta_tags %>
  <meta property="og:site_name" content="Comunidad Nest" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'header' %>
	<div class="full-width-header">
		<%= yield :full_width_header %>
		<%= yield :searchbar %>
	</div>
	<section id="main-content">
		<div class="container">
			<%= render 'application/alerts' %>
			<%= content_for?(:content) ? yield(:content) : yield %>
		</div>
	</section>
	<%= render ('application/newsletter') %>
	<%= render ('application/footer') %>
</body>
</html>
